body{
    background-color: rgb(235, 241, 241);
    padding: 30px;
    color: rgb(82, 94, 107);
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    color: red;
    font-size: 16px;
    border-bottom: solid red;
}

a{
    font-size: 1em;
    color: teal;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    font-style: italic;
    color: teal;
    background-color: yellow;
}

aside{
    float: right;
    width: 45%;
}

.caption{
    float: right;
    font-size: 0.8em;
  
}

.container{
    float: left;
    width: 50%;
    text-align: justify;
    margin-bottom: 50px;
}