.container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 800px;
    border: 10px solid orangered;
}
.header{
    font-size: 50px;
    height: 150px;
    width: 100%;
    background: rgb(199, 207, 243);
    justify-content: center;
    align-items: flex-start;
}

section{
    margin: auto;
    flex-flow: row;
    align-items: center;
}

.box{
    width: 20%;
    background: rgb(243, 179, 179);
    padding: 20px;
    float: left;

}
.flexcolumn{
    font-size: 14px;
    min-height: 400px;
    background: teal;
    width: 60%;
    padding: 20px;
    float: right;

}
.footer{
    font-size: 20px;
    height: 10%;
    background: rgb(17, 16, 16);
    color: white;
    justify-content: center;
    align-items: flex-end;
}